@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* font properties - family, size, weight, style, variant, height*/
    --ff: "Poppins", sans-serif;
    --fs: 1.1rem;
    --fs2: 0.9rem;
    --fm: 1.65rem;
    --rad1: 1rem;
    --rad2: 0.5rem;

    /* spacing - letter, word */
    --ls: 2.5rem;
    --m: 1rem;
    --mm: 2rem;
    --ml: 3rem;

    /* Text-appearance - color, text-transform, decoration, align, vertical-align, white-space */
    --c1: hsl(234, 12%, 34%);
    --bc: hsl(0, 0%, 99%);
    --bt1: hsl(0, 78%, 62%);
    --bt2: hsl(180, 62%, 55%);
    --bt3: hsl(34, 97%, 64%);
    --bt4: hsl(212, 86%, 64%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff);
    background-color: var(--bc);
    color: var(--c1);
    align-items: center;
    justify-content: center;
    font-size: var(--fs);
}

.container {
    max-width: 37.5rem;
    padding: 4rem 2rem;
}

header {
    text-align: center;
}

header h1 {
    font-weight: 200;
    font-size: var(--fm);
    margin-block-end: -0.5rem;
}

header h2 {
    font-weight: 700;
    font-size: var(--fm);
    margin-block-end: var(--m);
}

header p {
    font-size: var(--fs);
    font-weight: 400;
    margin: 0 auto;
    max-width: 34rem;
    text-align: center;
}

main  {
    margin-block-start: 4rem;
}

.box {
    background-color: #ffffff;
    border-radius: var(--rad2);
    margin-block-end: var(--ml);
    padding: var(--fm);
    text-align: right;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.box-text {
    text-align: left;
    font-size: var(--fs2);
    margin-block-end: var(--mm);
}

.box-text h2 {
    font-size: 1.5rem;
    margin-block-end: 0.5rem;
}

.box1 {
    border-top: 7px solid var(--bt2);
}

.box2 {
    border-top: 7px solid var(--bt1);
}

.box3 {
    border-top: 7px solid var(--bt3);
}

.box4 {
    border-top: 7px solid var(--bt4);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 640px) {
    /* main  {
        grid-template-columns: 1fr 1fr 1fr;
        margin-block-start: 4rem;
        gap: 2rem;
    } */

    .box- {
        
    }


}